<div class=todoList>
  <mat-accordion>
    <app-todo-item (click)="selectTodo(1)" *ngFor="let todo of todos$" [todo]="todo"></app-todo-item>
  </mat-accordion>

  <div class="contentEmpty" *ngIf="todos$?.length == 0">
    <img ngSrc="assets/clipboard.svg" alt="" height="56" width="56"/>
    <div>
      <strong>Você ainda não tem to-dos cadastrados</strong>
      <p>Crie to-dos e organize seus itens a fazer</p>
    </div>
  </div>

  <div *ngIf="editMode$ | async" class="editModeButtons">
    <button mat-raised-button color="primary" (click)="save()">Salvar</button>
    <button mat-raised-button color="warn" (click)="cancelEditMode()">Cancelar</button>
  </div>
</div>


