<div class="todoItem">


    <mat-expansion-panel hideToggle [disabled]="editMode$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>{{todo.title}}</strong>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-task-list></app-task-list>
    </mat-expansion-panel>


  <button *ngIf="editMode$ | async" (click)="deleteTodo(todo.id)" class="btnDelete" mat-icon-button matTooltip="Excluir" aria-label="Example icon-button with a heart icon">
    <mat-icon>delete</mat-icon>
  </button>

</div>
